<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Elizabeth Wilhite" />
    <meta name="description"
        content="CSE 340 - Car Website build" />
    <link rel="stylesheet" href="cse340/public/css/styles.css" />
    <link rel="stylesheet" href="cse340/public/css/normalize.css"/>
    <title>Car Webpage</title>
</head>

<body>
    <header>
        <div class="motors">
            <a href="index.ejs" id="car">
                <img class="" src="">
            </a>
        </div>
        <h1>CSE Motors</h1>
    </header>
    <nav>
        <a href="home">Home</a><br>
        <a href="custom">Custom</a><br>
        <a href="sedan">Sedan</a><br>
        <a href="suv">SUV</a><br>
        <a href="truck">Truck</a><br>
    </nav>
    <main class="car">
        <h2>Welcome to CSE Motors!</h2>

    </main>
    <footer>

    </footer>
</body>
</html>