<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404 page</title>
</head>
<body>
    <h1>404 Error</h1>
    <p>Oops...it seems you're eager to get a new car! However, the old one is still needed for now. Lets go to the home page and try again. </p>
</body>
</html>